apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chrony.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "chrony.labels" . | nindent 4 }}
data:
  # On Linux systems, the systemd service manager may pass file descriptors for pre-initialised sockets to chronyd. The service manager allocates and binds the file descriptors, and passes a copy to each spawned instance of the service. This allows for zero-downtime service restarts as the sockets buffer client requests until the service is able to handle them. The service manager sets the LISTEN_FDS environment variable to the number of passed file descriptors.
  LISTEN_FDS: "3"
  ui_properties_file_name: "user-interface.properties"
  # Chronyd Config File
  chronyc.conf: |
    pool pool.ntp.org iburst
    driftfile /var/lib/chrony/drift
    makestep 0.1 3
    rtcsync 
  # Chronyd Config File
  chronyd.conf: |
    server ntp1.example.net iburst
    server ntp2.example.net iburst
    server ntp3.example.net iburst
    pool pool.ntp.org iburst
    peer ntp1.example.net iburst maxsources 3
    initstepslew 30 ntp1.example.net ntp2.example.net ntp3.example.net
    driftfile /var/lib/chrony/drift
    makestep 1.0 3
    rtcsync
